*
{
	margin: 0em;
	padding: 0em;
}

a
{
	color: purple;
	text-decoration: underline;
}

a.anchor
{
	text-decoration: none;
	
}

a:hover
{
	text-decoration: none;
}

body
{
	background-color: white;
	background-repeat: repeat-x;
	color: #37371E;
	font-family: 'Bitter', serif;
	font-size: 11pt;
	font-weight: 400;
	min-height: 100%; 
	margin-bottom: 2px;
}



#outer
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.0em;
	background-color: white;	
	background-repeat: repeat-x;
	padding: 1.0em;
	border-top: solid 1px #ffffff;
	margin-bottom: 1.0em;
}

#outer2
{
	border: dotted 1px #EFEAD1;
	padding: 1.0em;
}

#menu
{
	background-color: gray;
	background-repeat: repeat-x;
	color: #ffffff;
	height: 1.4em;
	line-height: 1.4em;
	padding: 0.8em;
	border-bottom: solid 1px #ffffff;
	border-top: solid 1px gray;
}

#menu a
{
	color: #ffffff;
	text-decoration: none;
}

#menu ul
{
	list-style: none;
	padding: 0em;
}

#menu li
{
	display: inline;
	font-size: 0.9em;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

#menu li a
{
	padding: 0.8em;
}

#menu li a:hover
{
	background-color: rgba(114, 31, 114, 0.712);
	background-repeat: repeat-x;
}

#menu a.active
{
	background-color: rgb(95, 5, 95);
	background-repeat: repeat-x;
}

#header
{
	padding: 0.8em 1.2em 1.2em 1.2em;
}

#header h1
{
	font-size: 3em;
	text-transform: lowercase;
	font-weight: 400;
	letter-spacing: -0.05em;
	font-family: 'Open Sans', serif;  
}

#header span.myname 
{ 
	color: purple; 
} 

#header span.bolded
{
	font-weight: 700;
}

#header h2
{
	position: relative;
	top: -0.1em;
	text-transform: lowercase;
	font-size: 0.8em;
	color: #4F4F2B;
}

#content
{
	margin-top: 0.0em;
	padding: 1.2em;
	line-height: 1.5em;
	font-size: 1em;
	position: relative;
}

#footer
{
	border-top: dashed 1px #EFEFD6;
	padding-top: 1.0em;
	font-size: 0.85em;
	color: #AFA162;
	padding-left: 1.2em;
	clear: both;
}

#longColumn
{
	width: 90%;
	float: left;
	position: relative;
	margin-top: 0.0em;
	margin-bottom: 0.0em;
}

#longColumn p
{
	text-align: left;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	color: #4F4F2B;
}

#longColumn h3
{
	font-size: 1.2em;
	border-bottom: dashed 1px #CECF8F;
	margin-bottom: 1.0em;
	margin-top: 1.0em;
}

#longColumn ul
{
	list-style: none;
	margin-bottom: 1.0em;
}

#column1
{
	width: 530px;
	float: left;
	position: relative;
	margin-top: 0.0em;
	margin-bottom: 0.0em;
}

#column1 p
{
	text-align: left;
	margin-top: 1.0em;
	margin-bottom: 2.0em;
	color: #4F4F2B;
}

#column1 ul
{
	margin-top: 1.0em;
    margin-left: 1em;
}

#column1 h3
{
	font-size: 1.2em;
	border-bottom: dashed 1px #CECF8F;
	margin-bottom: 1.0em;
}

#column2
{
	width: 190px;
	float: right;
	position: relative;
	margin-left: auto;
}

#column2 p
{
	text-align: justify;
	margin-top: 1.0em;
	margin-bottom: 2.0em;
	color: #4F4F2B;
	font-size: 1.0em;
}

#column2 h3
{
	font-size: 1.1em;
	border-bottom: dashed 1px #CECF8F;
	margin-bottom: 1.0em;
}

#column2 ul
{
	list-style: none;
	line-height: 2.0em;
	margin-bottom: 2.0em;
}

#column2 li
{
	border-bottom: dashed 1px #EFEFD6;
}

img.mypic
{
    border-color: purple;
    border-width: 2px;
    border-style: solid;
}

html
{
	overflow-y: scroll;
}